* {
    font-family: 'Questrial', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 95%;
}
#page {
    height: 100%;
    padding: 5px;
}
.box {
    float: left;
    height: 100%;
}
#left
{
    width: 36%;
    background: #ffffff;
    margin-right: 5px;
}
#right{
    width: calc(64% - 5px);
    background: #ffffff;
}
.line {
    padding: 5px;
}
.ruleline {
    padding: 10px;
}
.slider {
    width: 65%;
    margin-right: 5px;
}

.label {
    display: inline-block;
    width: 45%;
    min-width: 100px;
    margin-right: 5px;
}

.rendertarget {
    width: 100%;
    height: 100%;
    display: inherit;
}

.rightbutton {
    float: right;
    width: 34px;
    height: 34px;
}

.sliderbox {
    width: 10%;
}

.ruleboxleft {
    width: 7%;
}

.ruleboxright {
    width: 45%;
}

input {
    width: calc(100% - 110px);
}
input[type="range"]::-moz-range-progress {
    height:10px;
    border-radius:8px;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(1, #000F00),
            color-stop(1, #E2E2E2)
    );
    background-color: #aaa;
    outline:none;
    border:0;
}
input[type="range"]::-moz-range-track {
    height:10px;
    border-radius:8px;
    background-color: #aaa;
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(1, #D3D3D3),
            color-stop(1, #D3D3D3)
    );
    outline:none;
    border:0;

}